@model News.BL.Models.NewssVM


@{

    ViewBag.Title = "Create";
    }
<h2>Create</h2>


<br />

<a asp-action="Index" asp-controller="Newss" class="btn btn-primary">Back To News</a>

<br />
<br />


<form asp-action="Create" asp-controller="Newss" class="form-group">

    <br />
    <div asp-validation-summary="All" class="text-danger"></div>
    <br />

    <label asp-for="Title"> Title</label>
    <input type="text" class="form-control" asp-for="Title" />
    <span asp-validation-for="Title" class="text-danger"></span>

    <label asp-for="Content"> Content</label>
    <input type="text" class="form-control" asp-for="Content" />
    <span asp-validation-for="Content" class="text-danger"></span>

    <label asp-for="CategoryId">Category</label>
    <select asp-items="(SelectList)ViewBag.CategoriesList">
        <option>Choose category</option>

    </select>

    <br />


    <br />

    <center>
        <input type="submit" value="Save" class="btn btn-primary" />
        <input type="reset" value="Cancle" class="btn btn-danger" />
    </center>

</form>


@*@section ClientValidation{
        <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
        <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }*@