@model News.BL.Models.NewssVM


@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>



<br />

<a asp-action="Index" asp-controller="Newss" class="btn btn-primary">Back To News</a>

<br />
<br />

<form enctype="multipart/form-data" class="form-group" asp-action="Create" asp-controller="Newss">


    <br />
    <div asp-validation-summary="All" class="text-danger"></div>
    <br />



    <label asp-for="Title">Title</label>
    <input type="text" class="form-control" asp-for="Title" />
    <span asp-validation-for="Title" class="text-daner"></span>
    <br />

    <label asp-for="Content">Content</label>
    <input type="text" class="form-control" asp-for="Content" />
    <span asp-validation-for="Content" class="text-daner"></span>
    <br />

   
   

    <label asp-for="CategoryId">Category</label>
    <select asp-for="CategoryId" asp-items="(SelectList)ViewBag.CategoriesList">
        <option>Choose Department</option>
    </select>
    <span asp-validation-for="CategoryId" class="text-daner"></span>
    <br />





    <label asp-for="PhotoUrl"> Photo</label>
    <input type="file" class="form-control" asp-for="PhotoUrl" />
    <span asp-validation-for="PhotoUrl" class="text-daner"></span>
    <br />



    <center>
        <input type="submit" value="Save" class="btn btn-primary" />
        <input type="reset" value="Cancle" class="btn btn-danger" />
    </center>

</form>


@*@section ClientValidation{
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@




}





