
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmResetPassword</title>
</head>
<body>
    <center>
        <h3>  Password set succesfully , Please Check Your Mail
            <a asp-action="Login" asp-controller="Account">Sing In</a></h3>
    </center>     
</body>
</html>
