
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmForgetPassword</title>

</head>
<body>

    <center>
        <h3>  If You Have Account ,,,, We Sent reset Mail ,plaese check yiur mailbox <br />
        
        <a asp-action="Login"asp-controller="Account">Sign In</a>
        </h3>

    </center>

</body>
</html>
