@model News.BL.Models.AdminVM


@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>



<br />

<a asp-action="Index" asp-controller="Admin" class="btn btn-primary">Back To Admin</a>

<br />
<br />


<form asp-action="Edit" asp-controller="Admin" class="form-group">

    <br />
    <div asp-validation-summary="All" class="text-danger"></div>
    <br />

    <input type="hidden" asp-for="Id" />

    <label asp-for="Name">Name</label>
    <input type="text" class="form-control" asp-for="Name" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />

    <label asp-for="Email">Email</label>
    <input type="text" class="form-control" asp-for="Email" />
    <span asp-validation-for="Email" class="text-danger"></span>

    <br />

    <label asp-for="Age">Age</label>
    <input type="text" class="form-control" asp-for="Age" />
    <span asp-validation-for="Age" class="text-danger"></span>

    <br />
    <label asp-for="Salary">Salary</label>
    <input type="text" class="form-control" asp-for="Salary" />
    <span asp-validation-for="Salary" class="text-danger"></span>

    <br />

    <center>
        <input type="submit" value="Edit" class="btn btn-primary" />
        <input type="reset" value="Cancle" class="btn btn-danger" />
    </center>

</form>


@*@section ClientValidation{
        <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
        <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }*@